.footer {
    display: flex;
    gap: 64px;
    margin-top: 40px;
    justify-content: space-between;
}

.footer__container {

width: 100%;
display: flex;
gap: 40px;
align-items: center;
justify-content: space-between;
background: #1B262F;
background-image: url("../../img/Bitmap\ \(6\).png");
background-repeat: no-repeat;
background-size: cover;

}

.footer__title {
    color: #FBFCFE;
    font-size: 15px;
    font-weight: 700;
    opacity: 0.7;
    padding-top: 42px;
    padding-bottom: 42px;
}

.footer__img {
    color: #FBFCFE;
    margin-left: 167px;
}

.footer__img1 {
    margin-left: 560px;
    margin-right: 60px;
}

.footer__title:hover {
    color: #36536B;
    opacity: 1;
}

.footer__title1 {
    margin-left: 64px;
    border: none;
}